---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

interface Props {
	posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<section>
	<ul class="flex flex-col gap-8 list-none m-0 p-0">
		{
			posts.map((post) => (
				<li class="w-full group">
					<a href={`/blog/${post.id}/`} class="block no-underline">
						{post.data.heroImage && (
							<Image class="mb-2 rounded-xl w-full group-hover:shadow-card" width={720} height={360} src={post.data.heroImage} alt={post.data.title} />
						)}
						<h2 class="m-0 text-text-primary leading-tight group-hover:text-accent-hover">{post.data.title}</h2>
						<p class="m-0 text-text-secondary group-hover:text-accent-hover">
							{post.data.publishedAt && <FormattedDate date={post.data.publishedAt} />}
						</p>
					</a>
				</li>
			))
		}
	</ul>
</section>
